# ignore these directories
/node_modules
/dist

# ignore these file types

# ignore these files
package-lock.json
*.xml
*.iml
.DS_Store
src/.DS_Store
src/uiComponents/.DS_Store
src/uiComponents/Brands/.DS_Store
