# ignore these directories
/node_modules
/build
/dist
.vscode/
.idea
.vs/

# ignore these file types

# ignore these files
*.xml
*.iml
.DS_Store
src/.DS_Store
src/uiComponents/.DS_Store
src/uiComponents/Brands/.DS_Store
.eslintcache
.env.local
