<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This configuration file sets up IIS to always serve the index.html file
    which is the entry point for the React app. THis is needed anywhere the site is deployed
    and hosted by IIS -->
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
                    <clear />
                    <rule name="Maintenance Screen" enabled="false" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_URI}" pattern="maintenance.html" negate="true" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/maintenance.html" appendQueryString="false" redirectType="Temporary" />
                    </rule>
                    <rule name="Add WWW prefix" enabled="true" stopProcessing="true">
                        <match url="(.*)" ignoreCase="true" />
                        <conditions>
                            <add input="{HTTP_HOST}" pattern="^airlinehyd\.com$" />
                        </conditions>
                        <action type="Redirect" url="https://www.airlinehyd.com/{R:0}" redirectType="Permanent" />
                    </rule>
					<rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                    </rule>
                    <rule name="Corvus Rewrites" stopProcessing="true">
                        <match url="Product\.aspx" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{AWRewriter:{REQUEST_URI}}" pattern="(.+)" />
                        </conditions>
                        <action type="Redirect" url="{C:1}" />
                    </rule>
                    <rule name="Corvus Categories" stopProcessing="true">
                        <match url="category/(.+)/.*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_URI}" pattern="^/category/(.+)/.*" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/categories/{R:1}" redirectType="Permanent" />
                    </rule>
                    <rule name="Corvus Search" stopProcessing="true">
                        <match url="Results.aspx" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_URI}{QUERY_STRING}" pattern="^/Results\.aspx\?srh=([^&amp;]+)(&amp;.*)*" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/search?searchTerm={C:1}&amp;sortType=relevancy&amp;resultPage=1" appendQueryString="false" redirectType="Permanent" />
                    </rule>
                    <rule name="Careers Redirect" stopProcessing="true">
                        <match url="careers" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/careers$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/about/careers" redirectType="Temporary" />
                    </rule>
                    <rule name="Inch Extrusion Redirect" stopProcessing="true">
                        <match url="inch-extrusion" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/inch-extrusion$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/industries/inch-extrusionhtm" redirectType="Temporary" />
                    </rule>
                    <rule name="repair Redirect" stopProcessing="true">
                        <match url="repair" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/repair$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/services/repair-field-services" redirectType="Temporary" />
                    </rule>
                    <rule name="robots Redirect" stopProcessing="true">
                        <match url="robots" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/robots$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/services/robotics" redirectType="Temporary" />
                    </rule>
                     <rule name="safespaces Redirect" stopProcessing="true">
                        <match url="safespaces" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/safespaces$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/industries/commercial-protective-barriers" redirectType="Temporary" />
                    </rule>
                    <rule name="safespaces/restaurant Redirect" stopProcessing="true">
                        <match url="safespaces/restaurant" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/safespaces/restaurant$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Static_pages/industries/SDB/restaurant-sdb-flyer.pdf" redirectType="Temporary" />
                    </rule>
                    <rule name="DRN Redirect" stopProcessing="true">
                        <match url="DRN" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/DRN$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Literature/Rexroth_DRn_Flyer.pdf" redirectType="Temporary" />
                    </rule>
                     <rule name="PDE Redirect" stopProcessing="true">
                        <match url="PDE" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pde$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/power-distribution-products-and-electrical-enclosures" redirectType="Temporary" />
                    </rule>
                     <rule name="Terms and Conditions Redirect" stopProcessing="true">
                        <match url="Terms_and_Conditions.pdf" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/Terms_and_Conditions.pdf$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Literature/Airline_Terms_and_Conditions.pdf" redirectType="Temporary" />
                    </rule>
                    <rule name="Contact Us" stopProcessing="true">
                        <match url="forms/contact_us" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/forms/contact_us$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/contact/contact-us" redirectType="Temporary" />
                    </rule>
                    <rule name="careers" stopProcessing="true">
                        <match url="forms/jobpostings" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/forms/jobpostings$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/about/careers" redirectType="Temporary" />
                    </rule>
                    <rule name="Services" stopProcessing="true">
                        <match url="pages/services/services" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/services/services$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/" redirectType="Temporary" />
                    </rule>
                     <rule name="Ts and Cs Redirect" stopProcessing="true">
                        <match url="Terms_and_Conditions" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/terms_and_conditions$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Literature/Airline_Terms_and_Conditions.pdf" redirectType="Temporary" />
                    </rule>
                    <rule name="Arc flash safety" stopProcessing="true">
                        <match url="pages/services/arc-flash-safety.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/services/arc-flash-safety.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/services/arc-flash-safety" redirectType="Permanent" />
                    </rule>
                    <!-- Brand pages redirect -->
                    <rule name="brands page" stopProcessing="true">
                        <match url="pages/brands/manufacturers" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/manufacturers$" /> 
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands" redirectType="Permanent" />
                    </rule>
                    <rule name="Abb" stopProcessing="true">
                        <match url="pages/brands/abb" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/abb$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/abb" redirectType="Permanent" />
                    </rule>
                    <rule name="BuTech" stopProcessing="true">
                        <match url="pages/brands/butech" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/butech$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/butech" redirectType="Permanent" />
                    </rule>
                    <rule name="Clippard" stopProcessing="true">
                        <match url="pages/brands/clippard" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/clippard$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/clippard" redirectType="Permanent" />
                    </rule>
                    <rule name="Eaton" stopProcessing="true">
                        <match url="pages/brands/eaton" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/eaton$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/eaton" redirectType="Permanent" />
                    </rule>
                    <rule name="Haskel" stopProcessing="true">
                        <match url="pages/brands/haskel" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/haskel$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/haskel" redirectType="Permanent" />
                    </rule>
                    <rule name="Hydac" stopProcessing="true">
                        <match url="pages/brands/hydac" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/hydac$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/hydac" redirectType="Permanent" />
                    </rule>
                      <rule name="icotek" stopProcessing="true">
                        <match url="pages/brands/icotek.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/icotek.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/brands/icotek" redirectType="Permanent" />
                    </rule>
                    <rule name="Omron" stopProcessing="true">
                        <match url="pages/brands/omron.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/omron.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/omron" redirectType="Permanent" />
                    </rule>
                    <rule name="Oriental motor" stopProcessing="true">
                        <match url="pages/brands/oriental-motor" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/oriental-motor$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/oriental-motor" redirectType="Permanent" />
                    </rule>
                    <rule name="Paccar" stopProcessing="true">
                        <match url="pages/brands/paccar" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/paccar$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/paccar" redirectType="Permanent" />
                    </rule>
                    <rule name="Parker" stopProcessing="true">
                        <match url="pages/brands/parker" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/parker$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/parker" redirectType="Permanent" />
                    </rule>
                    <rule name="Phoenix Contact" stopProcessing="true">
                        <match url="pages/brands/phoenix_contact" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/phoenix_contact$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/phoenix-contact" redirectType="Permanent" />
                    </rule>
                    <rule name="Rexroth" stopProcessing="true">
                        <match url="pages/brands/rexroth.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/rexroth.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/rexroth" redirectType="Permanent" />
                    </rule>
                    <rule name="Rittal" stopProcessing="true">
                        <match url="pages/brands/rittal" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/rittal$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/rittal" redirectType="Permanent" />
                    </rule>
                    <rule name="Ross" stopProcessing="true">
                        <match url="pages/brands/ross" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/ross$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/ross" redirectType="Permanent" />
                    </rule>
                    <rule name="Schmersal" stopProcessing="true">
                        <match url="pages/brands/schmersal" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/schmersal$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/schmersal" redirectType="Permanent" />
                    </rule>
                    <rule name="SMC landing page" stopProcessing="true">
                        <match url="pages/brands/SMC" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/SMC$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/brands/featured/smc" redirectType="Permanent" />
                    </rule>
                    <rule name="Turck" stopProcessing="true">
                        <match url="pages/brands/turck.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/turck.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/brands/turck" redirectType="Permanent" />
                    </rule>
                    <rule name="Acme electric" stopProcessing="true">
                        <match url="pages/brands/acme_electric.htm" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pages/brands/acme_electric.htm$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/brands/acme-electric$" redirectType="Permanent" />
                    </rule>
                    <rule name="LiteraturePDFsSpecific" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{Literature PDFs:{REQUEST_URI}}" pattern="(.+)" />
                        </conditions>
                        <action type="Redirect" url="{C:1}" redirectType="Permanent" appendQueryString="false" />
                    </rule>
                    <rule name="LiteraturePDFsProgrammatic" stopProcessing="false">
                        <match url="literature_catalog/*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_URI}" pattern="literature_catalog/(.*)" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Literature/Manufacturer_Catalogs/{C:1}" redirectType="Permanent" />
                    </rule>
                    <!-- End Brand pages redirect -->
                    <rule name="SPA Routes" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(graphql)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(ui/playground)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="/api/publicprice(/.*)$" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="/index.html" />
                    </rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
	<location path="index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<system.webServer>
        <rewrite>
            <providers>
                <remove name="AWRewriter" />
                <provider name="AWRewriter" type="AirlineWebRedirectProvider.Rewriter, AirlineWebRedirectPlugin, Version=1.0.0.2, Culture=neutral, PublicKeyToken=c31e9e785f56ab7f">
                    <settings>
                        <add key="AirlineAPIUrl" value="#{ApiURL}" />
                    </settings>
                </provider>
            </providers>
            <rewriteMaps configSource="rewritemaps.config" />
        </rewrite>
    </system.webServer>
</configuration>