<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This configuration file sets up IIS to always serve the index.html file
    which is the entry point for the React app. THis is needed anywhere the site is deployed
    and hosted by IIS -->
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
                    <clear />
                    <rule name="Maintenance Screen" enabled="false" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_URI}" pattern="maintenance.html" negate="true" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/maintenance.html" appendQueryString="false" redirectType="Temporary" />
                    </rule>
					<rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
                        <match url="(.*)" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{HTTPS}" pattern="^OFF$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                    </rule>
                    <rule name="Corvus Rewrites" stopProcessing="true">
                        <match url="Product\.aspx" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{AWRewriter:{REQUEST_URI}}" pattern="(.+)" />
                        </conditions>
                        <action type="Redirect" url="{C:1}" />
                    </rule>
                    <rule name="Careers Redirect" stopProcessing="true">
                        <match url="careers" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/careers$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/about/careers" redirectType="Temporary" />
                    </rule>
                    <rule name="Inch Extrusion Redirect" stopProcessing="true">
                        <match url="inch-extrusion" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/inch-extrusion$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/industries/inch-extrusionhtm" redirectType="Temporary" />
                    </rule>
                    <rule name="repair Redirect" stopProcessing="true">
                        <match url="repair" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/repair$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/services/repair-field-services" redirectType="Temporary" />
                    </rule>
                    <rule name="robots Redirect" stopProcessing="true">
                        <match url="robots" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/robots$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/services/robotics" redirectType="Temporary" />
                    </rule>
                     <rule name="safespaces Redirect" stopProcessing="true">
                        <match url="safespaces" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/safespaces$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/pages/industries/commercial-protective-barriers" redirectType="Temporary" />
                    </rule>
                    <rule name="safespaces/restaurant Redirect" stopProcessing="true">
                        <match url="safespaces/restaurant" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/safespaces/restaurant$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Static_pages/industries/SDB/restaurant-sdb-flyer.pdf" redirectType="Temporary" />
                    </rule>
                    <rule name="DRN Redirect" stopProcessing="true">
                        <match url="DRN" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/DRN$" />
                        </conditions>
                        <action type="Redirect" url="https://airlinemedia.airlinehyd.com/Literature/Rexroth_DRn_Flyer.pdf" redirectType="Temporary" />
                    </rule>
                     <rule name="PDE Redirect" stopProcessing="true">
                        <match url="PDE" />
                        <conditions>
                            <add input="{REQUEST_URI}" pattern="^/pde$" />
                        </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}/power-distribution-products-and-electrical-enclosures" redirectType="Temporary" />
                    </rule>
                    <rule name="SPA Routes" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(graphql)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="^/(ui/playground)" negate="true" />
                            <add input="{REQUEST_URI}" pattern="/api/publicprice(/.*)$" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="/index.html" />
                    </rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
	<location path="index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<system.webServer>
        <rewrite>
            <providers>
                <remove name="AWRewriter" />
                <provider name="AWRewriter" type="AirlineWebRedirectProvider.Rewriter">
                    <settings>
                        <add key="AirlineAPIUrl" value="#{ApiURL}" />
                    </settings>
                </provider>
            </providers>
        </rewrite>
    </system.webServer>
</configuration>