<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This configuration file sets up IIS to always serve the index.html file
    which is the entry point for the React app. THis is needed anywhere the site is deployed
    and hosted by IIS -->
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="SPA Routes" stopProcessing="true">
						<!-- match everything by default -->
						<match url=".*"/>
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
							<!-- unless its a file -->
							<!-- or a directory -->
							<!-- or is under the /api directory -->
							<add input="{REQUEST_URI}" pattern="^/(graphql)" negate="true"/>
							<add input="{REQUEST_URI}" pattern="^/(ui/playground)" negate="true"/>
							<add input="{REQUEST_URI}" pattern="/api/publicprice(/.*)$" negate="true"/>
							<!-- list other routes or route prefixes here if you need to handle them server side -->
						</conditions>
						<!-- rewrite it to /index.html -->
						<action type="Rewrite" url="/index.html"/>
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>